.Skills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: wrap;
    width: 100%;
    height: 100%;
    min-height: 90vh;
    margin-top: 10vh;
}