.About {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #13293d;
    background: linear-gradient(90deg, rgba(19, 41, 61, 1) 30%, rgba(18, 18, 18, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.prev {
    position: fixed;
    left: 10%;
    top: 90%;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5ae4a8;
    border: none;
    transition: 0.5s all;
}

.prev:hover {
    transition: 0.5s all;
    color: #5ae4a8;
    background-color: #13293d;
    box-shadow: 0 0 10px #5ae4a8;
    /* border: 1px solid #5ae4a8; */
}