.Header {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #13293d;
    background: linear-gradient(90deg, rgba(19, 41, 61, 1) 30%, rgba(18, 18, 18, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.Header .span,
.Header .image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
    min-width: 370px;
}

.Header .span .text {
    color: #f2f2f2;
    font-size: 1.5rem;
    text-align: justify;
    margin: 15px;
}

.Header .image img {
    width: 80%;
}

.next {
    position: fixed;
    left: 90%;
    top: 90%;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5ae4a8;
    border: none;
    transition: 0.5s all;
}

.next:hover {
    transition: 0.5s all;
    color: #5ae4a8;
    background-color: #13293d;
    box-shadow: 0 0 10px #5ae4a8;
    /* border: 1px solid #5ae4a8; */
}

@media (max-width: 768px) {
    .Header .span .text {
        color: #f2f2f2;
        font-size: 1.2rem;
        text-align: justify;
        margin: 15px;
    }

    .next{
        left: 80%;
    }
}

.hr{
    width: 100%;
    height: 1px;
    background-color: #f2f2f200;
}