.History {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: rgb(19, 41, 61);
    background: linear-gradient(90deg, rgba(19, 41, 61, 1) 30%, rgba(18, 18, 18, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}
